.quantity {
  position: relative;
}


input[type=number]
{
  -moz-appearance: textfield;
}

.table {
  border-color: red;
}

#confirmcheckoutlink {
  text-decoration: none;
  color:white;
}

#tableContainer {
    margin: auto;
    width: 60%;
    margin-top:300px;
    box-shadow: 10px 10px 5px #888888;
    background-color: rgba(149, 150, 148, 0.12);
    background-color: rgba(149, 150, 148, 0);
}

#tableContainer #invoice-header {
  height: 10em; 
  background-color: #f9fafc; 
  width: 100%; 
  float: right;
}

#invoice-footer {
  height: 10em; 
  background-color: #f9fafc; 
  width: 100%; 
  float: right; 
  margin-bottom:10em;
}

#invoice-body {
  float:left; 
  width:100%; 
  background-color: (197, 197, 194, 0.05);
}

#invoice-title {
  float: right; 
  color: black; 
  position: relative; 
  width: 100%; 
  text-align: end; 
  padding: 2em 3em 0em 2em;
}

#totaldue-container {
  position: relative; 
  text-align: end; 
  margin-top: 28px; 
  padding: 0em 3em 1em 2em;
}

#totaldue-container #totaldue-title {
  color: black;
  float: left;
  margin-left: 78%;
}

#totaldue-container #totaldue-value {
  color: #5fc37d;
}

#discount-container {
  position: relative; 
  text-align: end; 
  padding: 0em 3em 0em 2em;
}

#discount-container #discount-title {
  float: left;
  margin-left: 78%;
}

#discount-container #discount-value {
  color: black;
}

#subtotal_title {
  float: left;
  margin-left: 80%;
}

#subtotal_val {
  color: black;
}

#invoice-footer #subtitle_container {
  float: right; 
  position: relative; 
  width: 100%; 
  text-align: end; 
  padding: 2em 3em 0em 2em;
}

#top-cost {
  position: relative; 
  text-align: end; 
  margin-top: 28px; 
  padding: 0em 3em 0em 2em;
}

#date-title {
  position: relative; 
  text-align: end; 
  padding: 0em 3em 0em 2em;
}

#tableContainer #invoice-header #shop-name {
  float: left; 
  color: black; 
  position: absolute; 
  width: 100%; 
  margin-top: 3em; 
  font-size: 21px; 
  padding: 2em 2em 0em 2em;
}

.nav #confirm-checkout-green {
  position:fixed;
  height:8%; 
  background-color: rgba(50, 148, 32, 0.15);
}

.quantity input {
  width: 30px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.tr {
  border-bottom: 1pt solid black
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}